<section id="hide" class="container">
    <div class="section-label" data-style="hover">
        <h2 class="topic-title">Add Post</h2>
        <p class="xclose">&times</p>
    </div>

    <div class="form">
        <div id="info">
            <label for="post">Title</label>
        </div>

        <div id="info">
            <textarea id="post-title" name="post" rows="1"></textarea>
        </div>

        <div id="info">
            <label for="content">Content</label>
        </div>

        <div id="info">
            <textarea id="comment-to" name="content" rows="5"></textarea>
        </div>

        <div>
            <button class="btn">Submit</button>
        </div>
    </div>
</section>
