<div class="add-comment">

  <div class="post-comment">
    <p class="xclose">&times</p>
  </div>

  <div class="form">
    <div id="info">
      <label for="add">Comment</label>
    </div>

    <div id="info">
      <textarea id="add-now" name="add" rows="5"></textarea>
    </div>

    <div>
      <button class="btn">Submit</button>
    </div>
  </div>
</div>
