<div class="hide">

  <div class="post-comment dark-bg med-text hgt40 pad15">
    <p id="close" class="xl-font cursor fltR">&times</p>
  </div>

  <div class="form pad15">
    <div id="info">
      <label for="add">Comment</label>
    </div>

    <div id="info">
      <textarea id="comment-to" name="add" rows="5"></textarea>
    </div>

    <div>
      <button class="btn med-bg dark-text brd-rad cursor">Submit</button>
    </div>
  </div>
</div>
