<section id="hide" class="container brd-rad hide">
    <div class="dark-bg med-text pad15" data-style="hover">
        <h2 id="box-title" class="inline dark-bg">Add Post</h2>
        <p id="close" class="close-box xl-font cursor fltR">&times</p>
    </div>

    <div class="form pad15">
        <div id="info">
            <label for="post">Title</label>
        </div>

        <div id="info">
            <textarea id="post-title" class="m-font" name="post" rows="1"></textarea>
        </div>

        <div id="info">
            <label for="content">Content</label>
        </div>

        <div id="info">
            <textarea id="comment-to" class="s-font" name="content" rows="5"></textarea>
        </div>

        <div>
            <button id="from" class="btn med-bg dark-text brd-rad cursor submit">Submit</button>
        </div>
    </div>
</section>
