            <div class="post-comment" data-style="userHov">
                <p id="by-user">Comment by: {{this.user.name}} on {{this.comment_date}}</p>
            </div>

            <div class="list-comments">
                <p id="user-comment">{{this.comment_text}}</p>
            </div>