            <div class="section-label" data-style="hover">
                <h2 id="topic-title">{{post.title}}</h2>
                <p id="by-user">Posted by: {{user.name}} on {{post.post_date}}</p>
            </div>

            <div class="posts">
                <p id="user-post">{{post.post_text}}</p>
            </div>