            <div id="comment" class="edit-this cursor">
            
                <div class="post-comment dark-bg med-text hgt40 pad15 block" data-style="userHov">
                    <p id="by-user" class="block xs-font fltR">Comment by: {{this.user.name}} on {{this.comment_date}}</p>
                </div>

                <div class="list-comments pad15 block">
                    <p id="{{this.id}}" class="block">{{this.comment_text}}</p>
                </div>
                
            </div>