    <p id="by-user" class="inline xs-font block fltR">Posted by: {{ user.name }} on {{post_date}}</p>
  </div>

  <div class="posts pad15 block">
    <p id="user-post" class="block">{{post_text}}</p>
  </div>
  
  {{> all-post-comments}}

</section>