  <div id="list" class="comments dark-brd pad15">
    <p id="{{this.id}}" class="underline click-width open inline cursor">comments:  <span id="comment-total">{{comments.length}}</span></p>
    <p class="edit inline cursor dark-text"></p>
  </div>