  <div class="comments">
    <p id="{{this.id}}" class="underline click-width open">comments:  <span id="comment-total">{{comments.length}}</span></p>
    <p class="edit" style="margin-left: 40px;"></p>
  </div>