            <div id="comment" class="edit-this">
            
                <div class="post-comment block" data-style="userHov">
                    <p id="by-user" class="block">Comment by: {{this.user.name}} on {{this.comment_date}}</p>
                </div>

                <div class="list-comments block">
                    <p id="{{this.id}}" class="block">{{this.comment_text}}</p>
                </div>
                
            </div>