{{!-- <h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button> --}}

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="fv-close">&times;</span>
    <p style="padding: 0 24px;">Login<br><br>Or<br><br>Sign Up<br>It's free!!!</p>
  </div>

</div>