      <div id="info">
        <label for="email">Email:</label><br>
        <input id="email-login" class="box" name="email" type="email" placeholder="Enter Email" onclick="this.select()" minlength="8" maxlength="16" required><br>
      </div>