  </div>

  <div class="pad15">  
    <form id="form">
      <div id="info">
        <label for="username">Username:</label><br>
        <input id="user-login" class="box" name="username" type="text" placeholder="Enter Username" onclick="this.select()" required><br>
      </div>