  </div>

  <div class="form">  
    <form class="login-form">
      <div id="info">
        <label for="username">Username:</label><br>
        <input id="user-login" name="username" type="text" placeholder="Enter Username" onclick="this.select()" required><br>
      </div>