      <div id="info">
        <label for="email">Email:</label><br>
        <input id="email-login" name="email" type="email" placeholder="Enter Email" onclick="this.select()" required><br><br>
      </div>