      <div id="info">
        <label for="password">Password:</label><br>
        <input id="password-login" class="box" name="password" type="password" placeholder="Enter Password" onclick="this.select()" required><br>
      </div>