      <div id="info">
        <label for="password">Password:</label><br>
        {{#if isTrue}}
        <input id="password-login" class="box" name="password" type="password" placeholder="Enter Password" onclick="this.select()" required/>
        {{else}}
        <input id="password-login" class="box" name="password" type="password" placeholder="Enter Password" onclick="this.select()" required minlength="8" maxlength="16" />
        <p style="font-size: 14px;">Must be at least 8 characters in length.</p><br>
        {{/if}}
      </div>