<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/utilities.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>The Tech Blog</title>
</head>
<body>
    <header>

        <nav class="nav-head">

            <a href="">Home</a>

            <a href="">Dashboard</a>

            <a href="">Login</a>
        <!-- <a href="">Logout</a> template partial-->
        </nav>
        
        <h1 id="head-title">The Tech Blog</h1>

    </header>

    <main>

{{{body}}}

    </main>
  
</body>
</html>