<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/utilities.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>The Tech Blog</title>
</head>
<body>
    <header>

        <nav class="nav-head">

            <a href="/" class="nav-link">Home</a>

            <a href="/dashboard" class="nav-link">Dashboard</a>

{{#if logged_In}}
            <a id="logout" href="/logout" class="nav-link">Logout</a>
    {{else}}<a href= "/login" class="nav-link">Login</a>{{/if}}

        </nav>
        
        <h1 id="head-title">The Tech Blog</h1>

    </header>

    <main>

{{{body}}}

