{{> section-label}}
        <h2 class="topic-title">{{viewTitle.posts}}</h2>
    </div>

    <div class="comments">
        <p class="underline click-width open">posts:  <span id="comment-total">{{posts.length}}</span></p>
    </div>

    <div class="list">
        <div class="list-top">
            <p class="close">-</p>
            <p class="click-edit">( click Post to edit )</p>
        </div>

    {{#each posts}}
        <section class="edit-post select">
            <div id="edit-this">
                <div class="section-label" data-style="userHov">
                {{> all-titles}}
                {{> all-posts}}

    {{/each}}

{{> close-section}}

{{> section-label}}
        <h2 class="topic-title">{{viewTitle.comments}}</h2>
    </div>

    <div class="comments">
        <p class="underline click-width open">comments:  <span id="comment-total">{{comments.length}}</span></p>
    </div>

    <div class="list">
        <div class="list-top">
            <p id="hide-list" class="close">-</p>
            <p class="click-edit">( click Comment to edit )</p>
        </div>

        <section class="edit-comment select">
            {{#each comments}}
            {{> all-comment-postTitles}}
            {{> all-comments}}
            {{/each}}
        </section>        
    </div>

{{> close-section}}

{{> add-edit-box}}

{{> new-post}}

{{> script-dashboard}}
{{> script-logout}}