<section class="box">

  <div class="section-label">
    <h2 id="topic-title">Why MVC is so important</h2>
    <p id="by-user">Posted by: ? on ?/?/????</p>
  </div>

  <div>
    <p id="user-post">MVC allows developers to maintain a true separations of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.</p>
  </div>
  
</section>