{{#each posts}}
<section class="box">

  <div class="section-label">
    <h2 id="topic-title">{{title}}</h2>
    <p id="by-user">Posted by: {{ user.name }} on {{post_date}}</p>
  </div>

  <div>
    <p id="user-post">{{post_text}}</p>
  </div>
  
</section>
{{/each}}