<div class="form">
  
  <form>
    <div id="info">
      <label for="userName">Username:</label><br>
      <input type="text" name="userName"><br>
    </div>
    <div id="info">
      <label for="pass">Password:</label><br>
      <input type="text" name="pass"><br><br>
    </div>
      <input type="submit" id="btn" value="Login">
  </form>

  <p>Please create an account, if you have not already.</p>
  <button id="btn">Sign Up</button>

</div>