<!--Split labels tops for all: cause matching -->

<section class="box">
  <div class="section-label">
      <h2 id="topic-title">Login</h2>
      <!-- <p id="by-user">Posted by: ? on ?/?/????</p> -->
  </div>

  <div class="form">  
    <form class="login-form">
      <div id="info">
        <label for="username">Username:</label><br>
        <input id="user-login" name="username" type="text" placeholder="Enter Username" onclick="this.select()" required><br>
      </div>
      <div id="info">
        <label for="password">Password:</label><br>
        <input id="password-login" name="password" type="password" placeholder="Enter Password" onclick="this.select()" required><br><br>
      </div>
        <input type="submit" id="btn" value="Login">
    </form>

    <p>Please create an account, if you have not already.</p>
    <button id="btn" class="signup-form" type="submit">Sign Up</button>

  </div>

</section>  