
header{
    background-color: var(--header-mainSectionHeads-bg-MostTxt);
    padding: 20px 60px;
}

.nav-head{
    display: flex;
    flex-wrap: wrap;
    color: var(--heading-main-bg-navTxt);
}

.nav-link{
    margin: 0 60px 20px 0;
    color: var(--heading-main-bg-navTxt);
    text-decoration: none;
}

.nav-link:hover{
    color: var(--mainSectionHeads-txt-headingShadow);
}

#head-title{
    width: 300px;
    background-color: var(--heading-main-bg-navTxt);
    border-radius: 5px;
    box-shadow: 6px 6px 0 0 var(--mainSectionHeads-txt-headingShadow);
    padding: 10px 15px;
}

main{
    background-color: var(--heading-main-bg-navTxt);
    padding: 20px 60px;
}

.container{
    border: 3px solid var(--header-mainSectionHeads-bg-MostTxt);
    border-radius: 5px;
    margin-bottom: 20px;
}

.section-label{
    /*size*/
    background-color: var(--header-mainSectionHeads-bg-MostTxt);
    color: var(--mainSectionHeads-txt-headingShadow);
}

#topic-title{
    background-color: var(--header-mainSectionHeads-bg-MostTxt);
    margin-right: auto;
}

.section-label:hover{
    color: var(--heading-main-bg-navTxt);
}

#topic-title, #by-user{
    display: inline-block;
}

#by-user{
    font-size: 14px;
    float: right;
}

.section-label, #user-post{
    padding: 15px;
}

#user-post{
    font-size: 18px;
}

#info, input, label{
    font-size: 18px;
    padding: 5px 0;
    color: var(--header-mainSectionHeads-bg-MostTxt);
}

/* input{
    font-size: 18px;
} */

.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--mainSectionHeads-txt-headingShadow);

}

.btn:hover{
    color: var(--heading-main-bg-navTxt);
}

.form{
    padding: 15px;
}

.create, .signup{
    font-size: 18px;
    color: var(--header-mainSectionHeads-bg-MostTxt);
    padding-top: 15px;
}

.signup:hover{
    color: var(--mainSectionHeads-txt-headingShadow);
}

