/* Header Top of Page */
header{
    padding: 20px 60px;
}

.nav-head{
    display: flex;
    flex-wrap: wrap;

}

.nav-link{
    margin: 0 60px 20px 0;
    text-decoration: none;
}

#head-title{
    width: 300px;
    box-shadow: 6px 6px 0 0 var(--mainSectionHeads-txt-headingShadow);
    padding: 10px 15px;
    margin-bottom: 5px;
}

/* Main Area of Display - Relative to New Post Button on dashboard */
main{
    position: relative;
    min-height: 80vh;
    padding: 20px 60px 135px 60px;
}

/* Contains each post/form */
.container{
    border: 3px solid var(--header-mainSectionHeads-bg-MostTxt);
    margin-bottom: 20px;
}

/* Next to one another on document */
.topic-title, #by-user, .open, .edit, .close, .click-edit{
    display: inline-block;
}

#by-user{
    font-size: 15px;
    float: right;
}

/* user forms signup/login */
#info{
    padding-bottom: 15px;
}

.box{
    padding: 5px 0;
}

.btn{
    padding: 10px;
    border: none;
}

.create{
    padding-top: 15px;
}

/* Posts and Comments to Posts*/
.post-comment, .list-top{
    height: 40px;
}

.underline{
    text-decoration: underline;
}

.comments, .list-top{
    border-top: 2px solid var(--header-mainSectionHeads-bg-MostTxt);
}

.click-width{
    width: 110px;
}

.close{
    font-weight: 900;
    font-size: 44px;
    line-height: 0;
}

/* Dashboard create post */
.new-post{
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

#new-post{
    font-size: 32px;
}

.list, .comment-list{
    display: none;
}

.click-edit{
    margin-left: 40px;
    padding-bottom: 5px;
}

/* Border radius */
#head-title, .container, .btn, #new-post{
    border-radius: 5px;
}

/* padding and margin sharings */
.section-label, .form, .posts, .comments, .post-comment, .list-comments, #new-post, .list-top{
    padding: 15px;
}

/* Share Button features */
.btn, .open, .close, #new-post, .edit{
    cursor: pointer;
}

/* Color Sharings */
/* Same font colors */
#head-title, .create, .signup, .box, label, .edit{
    color: var(--header-mainSectionHeads-bg-MostTxt);
}

.signup:hover, .section-label, .post-comment, .nav-link:hover, .open:hover, #new-post, .list-top, .edit:hover{
    color: var(--mainSectionHeads-txt-headingShadow);
}

.btn:hover, .nav-link, .nav-head, .container:hover [data-style="hover"], #new-post:hover{
    color: var(--heading-main-bg-navTxt);
}
.select:hover [data-style="userHov"]{
    color: var(--heading-main-bg-navTxt);
}
/* Same Bg colors */
header, .topic-title, .section-label, .post-comment, #new-post{
    background-color: var(--header-mainSectionHeads-bg-MostTxt);
}

.btn{
    background-color: var(--mainSectionHeads-txt-headingShadow);
}

main, #head-title{
    background-color: var(--heading-main-bg-navTxt);
}

/* Homepage Modal Add Comment to Post */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  /* .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } */