/* Need to refactor names here and on the document */
/* Header Top of Page */
header{
    padding: 20px 60px;
}

.flex{
    display: flex;
    flex-wrap: wrap;

}

.nav-link{
    margin: 0 60px 20px 0;
    text-decoration: none;
}

#head-title{
    width: 300px;
    box-shadow: 6px 6px 0 0 var(--mainSectionHeads-txt-headingShadow);
    padding: 10px 15px;
    margin-bottom: 5px;
}

/* Main Area of Display - Relative to New Post Button on dashboard */
main{
    position: relative;
    min-height: 80vh;
    padding: 20px 60px 135px 60px;
}

.new-post{
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

/* Contains each post/form */
.container{
    border: 3px solid var(--header-mainSectionHeads-bg-MostTxt);
    margin-bottom: 20px;
}

#info{
    padding-bottom: 15px;
}

textarea{
    resize: none;
    width: 100%;
    border: 3px solid rgb(89, 177, 224);
    padding: 5px;
}

.box{
    padding: 5px 0;
}

.btn{
    font-size: 16px;
    padding: 10px;
    border: none;
}

#close{
    font-weight: 900;
    line-height: 0;
}

.create{
    padding-top: 15px;
}

.inline{
    display: inline-block;
}

.hgt40{
    height: 40px;
}

.underline{
    text-decoration: underline;
}

.dark-brd{
    border-top: 2px solid var(--header-mainSectionHeads-bg-MostTxt);
}

.fltR{
    float: right;
}

.hide{
    display: none;
}

.click-edit{
    padding-bottom: 5px;
}

.marL{
    margin-left:40px;
}

.brd-rad{
    border-radius: 5px;
}

.pad15{
    padding: 15px;
}

.cursor{
    cursor: pointer;
}

.block{
    pointer-events: none;
}
.xs-font{
    font-size: 15px;
}

.s-font, textarea{
    font-size: 18px;
}

.m-font{
    font-size: 20px;
}

.l-font{
    font-size: 32px;
}

.xl-font{
    font-size: 44px;
}
/* Color Sharings */
/* Same font colors */
.dark-text, .create, .signup, .box, label{
    color: var(--header-mainSectionHeads-bg-MostTxt);
}

.med-text, .signup:hover, .nav-link:hover, .open:hover, .edit:hover{
    color: var(--mainSectionHeads-txt-headingShadow);
}

.lgt-text, .nav-link, .btn:hover, .container:hover [data-style="hover"], #new-post:hover, .select:hover [data-style="userHov"]{
    color: var(--heading-main-bg-navTxt);
}

/* Bg colors */
.dark-bg{
    background-color: var(--header-mainSectionHeads-bg-MostTxt);
}

.med-bg{
    background-color: var(--mainSectionHeads-txt-headingShadow);
}

.light-bg{
    background-color: var(--heading-main-bg-navTxt);
}

